<!-- <button type="button" name="button" ng-click="vm.logout()">Logout</button>
 -->
<div class="col-lg-12">
              <div class="text-center">
                <h3><b>Log Out</b></h3></div>
              <form id="ajax-logout-form" role="form" autocomplete="off">
          
                <div class="form-group m-x-auto">
                      <input type="submit" class="form-control btn btn-success" value="Log Out" ng-click="vm.logout()">
                    </div>
                  
            </form>
     </div>       
